<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <div class="jumbotron-full-bg">
    <br><br><br><br>
    <div class="container" style="text-align:start">
      <div *ngIf="( auth.isAuthenticated() | async )">
        <h1 *ngIf="( user | async )" class="display-3"> Hola {{ (user | async)?.nameuser | titlecase}}.</h1>
        <p class="lead">Bienvenido a nuestro sistema.</p>
      </div>
      <div *ngIf="!( auth.isAuthenticated() | async )">
        <h1 class="display-3">Hola.</h1>
        <p class="lead">Bienvenido a nuestro sistema.</p>
        <hr class="my-4">
        <p>Si desea tener acceso, registrate o inicia sesión.</p>
      </div>
      <br><br><br><br><br><br><br>
      <br><br>
    </div>
  </div>
  <div class="footer-copyright text-center text-white-50 ">© 2020 Copyright:
    <a> GMayaS C:\>Desarrollo en Sistemas.</a>
  </div>
</body>

</html>