/* You can add global styles to this file, and also import other style files */
/*.selector-for-some-widget {
    box-sizing: content-box;
  }*/

.contenedor{
  display: flex;
  border: 1px solid black;
  height: 400px;
  width: 900px;
  justify-content: center;
  align-items: center
}

/* Set the size of the div element that contains the map */
#map {
     height: 745px;  /* The height is 400 pixels */
     width: 100%;  /* The width is the width of the web page */
     justify-content: center;
     align-items: center;
}


#map > div > div > div > div > div > div > div > div > div > div > div > div
{
    font-weight: bold;
    color: blue;
}


/* Set the size of the div element that contains the map */
#map2 {
  height: 250px;
  width: 100%;
  justify-content: center;
  align-items: center;
}


#map2 > div > div > div > div > div > div > div > div > div > div > div > div
{
 font-weight: bold;
 color: blue;
}


